@charset "UTF_8";

*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

html, body{
    min-height: 100vh; /*tamanho mínimo da viewport*/
    background-color: darkgray;
}


header{
    color: white;
    background-color: black;
    text-align: center;
}
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;/*fica capitalized*/
}
header > p {
    padding-bottom:50px;
}
header > a , footer > a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header > a:hover, footer > a:hover {
    text-decoration: underline;
}


section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em; /*altura de linha*/
    padding-left: 50px;

}
section.normal {
    background-color: white;
    color:black
}
section.imagem{
    background-color: rgb(24, 26, 26);
    color: white;
}
section.imagem > p {
    width: 500px;
    background-color: rgba(0, 0, 0, 0.247);
}





footer {
    background-color: black;
    color: white;
    text-align:  center;
    padding: 10px;
}